
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: rgb(46, 61, 46)
}
.row.content {height: 450px}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
footer {
  background-color: rgb(35, 48, 27);
  color: white;
  padding: 15px;
}
@media screen and (max-width: 767px) {
.sidenav {
  height: auto;
  padding: 15px;
}
.row.content {height:auto;} 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



form {
  padding:50px;
  max-width:500px;
  margin:100px auto;
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.3);
}
label {
  display:block;
  text-align:center;
  font-size:32px;
  font-weight:700;
  margin-bottom:30px;
  color:#555;
  font-family: 'Raleway', sans-serif;
}
input[type="email"] {
  display:block;
  width:60%;
  font-size:18px;
  margin:0 auto 20px auto;
  
  border:none;
  outline:none;
  padding:20px;
  color:#4d4d4d;
  
  text-align:center;
  box-shadow: 0 1px 3px 0 #c2c2c2 inset;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
   background-position: 0 -60px;
transition:all .6s ease;
}
input[type="email"]:focus {
  outline:none;
  background-position:0 0;
 }
input[type="submit"] {
  display:block;
  width:60%;
  margin:0 auto;
  padding:20px;
  border:none;
  outline:none;
  background:#20412e;
  font-size:18px;
  color:#fff;
  transition:all .3s ease;
  box-shadow:4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
  cursor:pointer;
  transition:all .6s ease;
}
input[type="submit"]:hover{
  
  background-color:#1f643d;
}