
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: rgb(46, 61, 46)
}
.row.content {height: 450px}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
footer {
  background-color: rgb(35, 48, 27);
  color: white;
  padding: 15px;
}
@media screen and (max-width: 767px) {
.sidenav {
  height: auto;
  padding: 15px;
}
.row.content {height:auto;} 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


